<h1> Edit Task </h1>
<%= form_for(@task) do |f| %>
  <%= f.label :Title %>
  <%= f.text_field :title %>

  <%= f.label :Details %>
  <%= f.text_field :details %>
   <i class="far fa-square"> Completed</i>
  <%= f.submit %>
  

<% end %>

<a href="/tasks" class="link_back">Go back to list</a>